{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Cards</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
      .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
      }
    </style>
  </head>
  <body>

    <section>
      <div class="card-container">
        {% for d in data %}
          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/img-1.avif' %}" alt="image missed">
            <div class="card-body">
              <h5 class="card-title">{{ d.stu_name }}</h5>
              <p class="card-text">{{ d.stu_mobile }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

{% endblock content %}
